initialize() {
    initializeTreeSeq();
    initializeMutationRate(1e-7);
    initializeMutationType("m1", 0.5, "f", 0.0);
    initializeGenomicElementType("g1", m1, 1.0);
    initializeGenomicElement(g1, 0, 9999);
    initializeRecombinationRate(1e-8);
}
1 early() {
    sim.addSubpop("p1", 200);
    sim.addSubpop("p2", 200);
    p1.setMigrationRates(p2, 0.02);
    p2.setMigrationRates(p1, 0.02);
}
51 late() {
    catn("R41_SLIM_P1=" + p1.individualCount);
    catn("R41_SLIM_P2=" + p2.individualCount);
    sim.treeSeqOutput("r41_slim.trees");
    sim.simulationFinished();
}
